@model  IEnumerable<Isa.Core.Repositories.EntityModels.Client>
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clients</h2>


@if (Model.Count()==0)
{ 

    <text> We dont have any Client yet.</text>
 
}
else
{
    <p>
        @Html.ActionLink("Create New", "New")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
           
           
            <th>
                <text>Action</text>
            </th>
            <th></th>
        </tr>

        @foreach (var client in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(m => client.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => client.Address)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = client.ClientId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = client.ClientId })
                </td>
            </tr>
        }


    </table>
}
